# Created by .ignore support plugin (hsz.mobi)
#.gitignore
.idea/
#package.json
#styles/
dist/
node_modules/
#package-lock.json
#package.json
.DS_Store
html/.DS_Store
#html/tuanzi/css/
images/.DS_Store
