html, body {
  position: relative;
  min-width: 320px;
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.page {
  display: none;
}

.page1 {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4%;
    padding-top: 4%;
    width: 32%;
    img {
      display: block;
      width: 100%;
    }
  }
  .word {
    position: absolute;
    top: 3%;
    left: 3.7%;
    width: 93.6%;
    img {
      display: block;
      width: 100%;
    }
  }
  .car {
    position: absolute;
    top: 48%;
    left: 6.4%;
    width: 87.2%;
    img {
      display: block;
      width: 100%;
    }
  }
  .btn1 {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .btn2 {
    position: absolute;
    left: 4.8%;
    bottom: 4%;
    width: 33.7%;
    img {
      display: block;
      width: 100%;
    }
  }
  .btn3 {
    position: absolute;
    right: 4.8%;
    bottom: 4%;
    width: 34.2%;
    img {
      display: block;
      width: 100%;
    }
  }
}

.page2{
	 display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.rule{
		position: relative;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		.top{
		position: relative;
		width: 100%;
		.rule-list{
		 		display: block;
		 		width: 100%;
		 	}
		 	.close{
		 		position: absolute;
		 		top: 15%;
		 		right: 10%;
		 		width: 0.66rem;
		 		height: 0.66rem;
		 	}
		 }
		 .rule-list{
		 	display: block;
		 	width: 100%;
		 }
	}
}

.page3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg2.jpg) no-repeat center;
  background-size: cover;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4%;
    padding-top: 4%;
    width: 32%;
    img {
      display: block;
      width: 100%;
    }
  }
  .car {
    position: absolute;
    bottom: 0;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .qrcode {
    position: absolute;
    bottom: 2%;
    left: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word {
    position: absolute;
    bottom: 0%;
    right: 0.8rem;
    width: 3.6rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word2 {
    position: absolute;
    bottom: 4%;
    left: 3.6rem;
    width: 3.6rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word3 {
    position: absolute;
    bottom: 52%;
    left: 0%;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .photo {
    position: absolute;
    bottom: 30%;
    left: 0%;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .adjust {
    position: absolute;
    bottom: 33%;
    right: 3%;
    width: 1.32rem;
    img {
      display: block;
      width: 100%;
    }
  }
}

.page4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg2.jpg) no-repeat center;
  background-size: cover;
  .cover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0,.6);
    .frame {
      width: 9.76rem;
      height: 7.6rem;
      margin: 7rem auto 0 auto;
      background-image: url(../images/frame.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .zan {
      width: 2rem;
      margin: 0 auto;
      padding-top: 1rem;
    }
    .text {
      margin-top: 1.4rem;
      font-size: .8rem;
      color: #fff;
      text-align: center;
      > span {
        letter-spacing: 4px;
        font-weight: bold;
        color: #c61508;
      }
    }
    .actions {
      position: absolute;
      left: 0;
      bottom: 1.2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .btn1 {
        width: 7.2rem;
      }
      .btn2 {
        width: 7.2rem;
      }
    }
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4%;
    padding-top: 4%;
    width: 32%;
    img {
      display: block;
      width: 100%;
    }
  }
  .car {
    position: absolute;
    bottom: 0;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .qrcode {
    position: absolute;
    bottom: 2%;
    left: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word {
    position: absolute;
    bottom: 0%;
    right: 0.8rem;
    width: 3.6rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word2 {
    position: absolute;
    bottom: 4%;
    left: 3.6rem;
    width: 3.6rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word3 {
    position: absolute;
    bottom: 52%;
    left: 0%;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .photo {
    position: absolute;
    bottom: 30%;
    left: 0%;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .adjust {
    position: absolute;
    bottom: 33%;
    right: 3%;
    width: 1.32rem;
    img {
      display: block;
      width: 100%;
    }
  }
}

.page5 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg2.jpg) no-repeat center;
  background-size: cover;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4%;
    padding-top: 4%;
    width: 32%;
  }
  .car {
    position: absolute;
    bottom: -1rem;
    width: 10.12rem;
    left: 50%;
    margin-left: -5.06rem;
  }
  .form {
    margin: 3.8rem auto 0 auto;
    width: 11.28rem;
    height: 11rem;
    background: url(../images/form.png);
    background-size: cover;
    .form-box {
      width: 8.4rem;
      height: 6rem;
      margin: 0 auto;
      padding-top: 3.4rem;
    }
    .form-item {
      height: 1.2rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      .tit {
        font-weight: bold;
        font-size: .52rem;
        color: #fff;
        letter-spacing: 2px;
      }
      .input {
        flex: 1;
        overflow: hidden;
      }
      .txt {
        width: 100%;
        outline: none;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: .52rem;
        color: #fff;
        background: transparent;
        border-bottom: 1px solid #fff;
        border-radius: 0;
      }
      select {
        padding-right: 30px;
        background-image: url(../images/arrow.png)!important;
        background-size: 19px 10px !important;
        background-position: center right !important;
        background-repeat: no-repeat!important;
      }
    }
    .form-btn {
      position: absolute;
      left: 50%;
      bottom: 4.4rem;
      margin-left: -3.46rem;
      width: 6.92rem;
      height: 1.72rem;
      outline: none;
      border: none;
      background: transparent;
      background-image: url(../images/btn10.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}

.page6 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  .title {
    position: absolute;
    width: 8rem;
    left: 50%;
    top: 1.2rem;
    margin-left: -4rem;
  }
  .box-list {
    padding: 3rem 0 2rem 0;
    overflow: hidden;
    height: 100%;
  }
  .box {
    width: 12rem;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;
  }
  .item {
    width: 6rem;
  }
}

.page7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg2.jpg) no-repeat center;
  background-size: cover;
  .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    .upload{
      position: relative;
      margin: 0 auto;
      margin-top: 3.2rem;
      width: 12.32rem;
      height: 8.4rem;
      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
      }
    }
    .gender {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.4rem;
      .g1,
      .g2 {
        width: 1.52rem;
        height: 1.52rem;
        margin: 0 .48rem;
      }
    }
    .selects {
      .select {
        width: 14rem;
        height: 1.6rem;
        margin: 0 auto;
        margin-top: .8rem;
        background: rgba(94, 94, 94, .6);
        padding: 0 1rem;
        display: flex;
        align-items: center;
        select {
          width: 100%;
          outline: none;
          border: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          color: #fff;
          background: transparent;
          border-radius: 0;
          font-size: .6rem;
          color: rgba(255, 255, 255, .5);
          padding-right: 1.2rem;
          background-image: url(../images/arrow.png);
          background-repeat: no-repeat;
          background-position: center right;
          background-size: 26px 12px;
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 1.28rem;
      width: 100%;
      .btn {
        width: 6.8rem;
        outline: none;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #fff;
        background: transparent;
      }
    }
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4%;
    padding-top: 4%;
    width: 32%;
    img {
      display: block;
      width: 100%;
    }
  }
  .car {
    position: absolute;
    bottom: 0;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .qrcode {
    position: absolute;
    bottom: 2%;
    left: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word {
    position: absolute;
    bottom: 0%;
    right: 0.8rem;
    width: 3.6rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word2 {
    position: absolute;
    bottom: 4%;
    left: 3.6rem;
    width: 3.6rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .word3 {
    position: absolute;
    bottom: 52%;
    left: 0%;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .photo {
    position: absolute;
    bottom: 30%;
    left: 0%;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .adjust {
    position: absolute;
    bottom: 33%;
    right: 3%;
    width: 1.32rem;
    img {
      display: block;
      width: 100%;
    }
  }
}

.page8 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg2.jpg) no-repeat center;
  background-size: cover;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4%;
    padding-top: 4%;
    width: 32%;
  }
  .success {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    img {
      display: block;
      width: 100%;
    }
  }
  .btn8 {
    position: absolute;
    left: 0%;
    bottom: 4%;
    width: 50%;
    img {
      display: block;
      width: 100%;
    }
  }
  .btn9 {
    position: absolute;
    right: 0%;
    bottom: 4%;
    width: 50%;
    img {
      display: block;
      width: 100%;
    }
  }
  .car {
    position: absolute;
    bottom: -1rem;
    width: 10.12rem;
    left: 50%;
    margin-left: -5.06rem;
  }
}