.scenes1{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	.activity{
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 1.2rem;
		background: url(../../images/scenes1/bg1.png) no-repeat top/cover;
		.spray-region{
			position: absolute;
			right: -3%;
			bottom: 10%;
			width: 100%;
			z-index: 1;
			.spray{
				display: block;
				width: 100%;
			}
		}
		.island-region{
			position: absolute;
			right: 0;
			bottom: 40%;
			width: 96%;
			.island{
				display: block;
				width: 100%;
			}
		}
	}
}