/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, section, article, aside, header, footer, nav, dialog, figure, hgroup {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

ul, ol, li {
  list-style: none
}

em, i {
  font-style: normal
}

del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

input, img {
  vertical-align: middle;
}

input:focus, a:focus {
  outline: none;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:active {
  opacity: .7;
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #f3f3f3;
  color: #1b1b1b;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
body {
  padding: 0;
  min-width: 300px;
  max-width: 640px;
  margin: 0 auto;
}